//registry.npmjs.org/:_authToken=97fb9454-d450-4d81-8c37-965d4198969c
init-author-name=Alex Jenter
init-author-email=jenteralex@gmail.com
init-author-url=https://alexjenter.github.io/cv/
init-license=MIT
init-version=0.0.1
save-exact=true
cache=/Users/alexjenter/.cache/npm
