snippet rfc "functional component" b
const $1 = ($2) => (
	$0
)
endsnippet

snippet rcc "class component" b
class ${1:DefaultName} extends React.Component {
	constructor(props) {
		super(props)
	}
	$0
}

export default $1
endsnippet

snippet render
render() {
	return (
		$0
	)
}
endsnippet

snippet log
console.log($1);
endsnippet
